<section id="features">
  <h1>{{ 'features.title' | translate }}</h1>
  <p>{{ 'features.description' | translate }}</p>

  <div class="features-list">
    <div class="feature">
      <i class="fas fa-bolt fa-2x"></i>
      <h3>{{ 'features.feature1Title' | translate }}</h3>
      <p>{{ 'features.feature1Desc' | translate }}</p>
    </div>
    <div class="feature">
      <i class="fas fa-shield-alt fa-2x"></i>
      <h3>{{ 'features.feature2Title' | translate }}</h3>
      <p>{{ 'features.feature2Desc' | translate }}</p>
    </div>
    <div class="feature">
      <i class="fas fa-thumbs-up fa-2x"></i>
      <h3>{{ 'features.feature3Title' | translate }}</h3>
      <p>{{ 'features.feature3Desc' | translate }}</p>
    </div>
  </div>
</section>
