<app-header />
<app-modal #modal [title]="title">
    <div [innerHTML]="bodyModal"></div>
</app-modal>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 col-12 p-4">
        <div class="container mt-5 container-box p-5">
            <div>

                <div style="text-align: center;">
                    <h2 class="bg-primary text-white p-2" style="margin-bottom: 20px; font-weight: bold;">
                        {{lead.category.name}}</h2>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-calendar"></i> {{ lead.createdAt | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-geo-alt-fill"></i> {{lead.zipcode.name}} </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-telephone"></i> {{lead.phone}}</span>
                </div>
                <div style="margin-bottom: 20px;" class="description">
                    <span><i class="bi bi-card-text"></i> {{lead.description}}</span>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 mb-3"
                        *ngFor="let image of [lead.imageUrl1, lead.imageUrl2, lead.imageUrl3, lead.imageUrl4, lead.imageUrl5, lead.imageUrl6]">
                        <img [src]="urlUploads + image" class="img-fluid w-100 rounded shadow-sm cursor"
                            (click)="showImage(urlUploads + image)" style="aspect-ratio: 16/9; object-fit: cover;">
                    </div>
                </div>


                @if(isPro){
                <div class="d-flex justify-content-end mt-3">

                    @if(!isNotAcceptOrder){
                    <button type="button" class="btn btn-primary" (click)="accept()">
                        Accept
                    </button>
                    }

                </div>
                @if(isLoading){
                <div class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                }
                @if(backendMessage){
                <div class="alert {{alertMessage}} mt-3">
                    {{ backendMessage }}
                </div>
                }

                }
            </div>


        </div>

    </div>
    <div class="col-lg-3">
        <div class="text-center">
        </div>
    </div>
</div>