@if(message){<app-text-display message={{message}}></app-text-display>
}
@else {<div class="container-degradado p-5">
    <div class="row">
        <div class="col-lg-1 d-none d-lg-block">
          
        </div>
        <div class="col-lg-3">
            <a routerLink="/">
                <img src="./../../../assets/logo.png" width="300" alt="Logo" class="d-none d-lg-block">
            </a>
            
        </div>
        <div class="col-12 col-lg-6 p-5 col-login text-light-emphasis bg-white rounded container-box">
            <form [formGroup]="recoveryPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3" >
                    <label for="email" class="form-label fw-bold">{{'auth.email' | translate}}</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"  type="email"  formControlName="email"/>
                    @if(recoveryPasswordForm.get('email')?.invalid &&  (recoveryPasswordForm.get('email')?.dirty || recoveryPasswordForm.get('email')?.touched )){
                    <div class="alert alert-danger mt-2">
                    @if(recoveryPasswordForm.get('email')?.errors?.['required']){
                        <span>
                        {{'auth.isEmailRequired' | translate}}
                        </span>
                    }
                    @if(recoveryPasswordForm.get('email')?.errors?.['email']){
                        <span>
                        {{'auth.isEmailValid' | translate}}
                        </span>
                    }
                </div>
                }
                
                </div>
                
                <div class="d-grid">
                    <button class="btn btn-primary"  type="submit" [disabled]="!recoveryPasswordForm.valid || isLoading">{{'general.send' | translate}}</button>
                </div>
                
            </form>
            @if(isLoading){       
                <div class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status"> 
                    </div>
                </div>
            }
            @if(backendMessage){    
            <div  class="alert {{alertMessage}} mt-3">
                {{ backendMessage }}
              </div>
            }
        </div>
        <div class="col-lg-1 d-none d-lg-block">
          
        </div>
       
    </div>
</div>
}

