<app-floating-alert [alertMessage]="alertMessage" [backendMessage]="backendMessage"></app-floating-alert>
<div class="form-group mt-3">
  <div class="mb-3">
    <label for="categories" class="form-label fw-bold">{{'profile.categories' | translate}}</label>

    <div class="d-flex align-items-center justify-content-between mb-2">
      <span> {{ selectedCategoryIdsInForm.length }} / {{ maxSelections }}</span>
      <button type="button" class="btn btn-primary rounded-circle plus-button" (click)="toggleSelectVisibility()">
        <i class="bi bi-plus" *ngIf="!showSelect"></i> <i class="bi bi-x" *ngIf="showSelect"></i>
      </button>
    </div>

    <div *ngIf="showSelect" class="select-container fade-in">

      <select id="categories" (change)="onSelectChange($event)"
        [ngClass]="{'is-invalid': parentForm.get('categories')?.invalid && (parentForm.get('categories')?.dirty || parentForm.get('categories')?.touched), 'form-select': true}"
        class="mb-3">
        <option value="" disabled selected>{{'general.select' | translate}}</option>
        @for (item of filteredCategories; track item.id) {
        <option [value]="item.id"
          [disabled]="selectedCategoryIdsInForm.length >= maxSelections && !selectedCategoryIdsInForm.includes(item.id)">
          {{item.name}}
        </option>
        }
      </select>
    </div>

    @if(parentForm.get('categories')?.invalid &&
    (parentForm.get('categories')?.dirty ||
    parentForm.get('categories')?.touched
    )){
    <div class="invalid-feedback d-block"> @if(parentForm.get('categories')?.errors?.['required']){
      <small class="form-text text-danger">
        {{'profile.isCategoryIdsRequired' | translate}} </small>
      }
    </div>
    }
  </div>

  <hr />

  <h6>{{'profile.selectedCategories' | translate}}</h6>

  <div *ngFor="let entry of finalSelectedCategoriesWithImages" class="selected-category-card">
    <div class="card-header">
      <span class="m-3"> {{ entry.category.name }} </span>
      <button type="button" (click)="removeSelectedCategory(entry.category.id)"
        class="btn btn-danger btn-sm rounded-circle remove-btn">
        <i class="bi bi-x"></i>
      </button>
    </div>

    <div class="card-body m-3">
      <p class=""><span>Description: </span>{{ entry.category.description }}</p>
      <p >{{'profile.requireLicense' | translate}}:
        @if(entry.category.licenseRequired) {
        <strong> Yes</strong>
        }@else {
        <strong> No</strong>
        }
      </p>

      <div *ngIf="entry.category.licenseRequired" class="image-upload-section">
        <h6>{{'profile.uploadLicense/Document' |translate}}:</h6>
       
        <div class="form-group mb-3">
          <label for="title" class="form-label fw-bold mx-3">{{ 'profile.licenseTitle' | translate }}</label>
          <input type="text" id="title" class="form-control" [(ngModel)]="entry.title" 
            (input)="onTitleChange()"
            [readonly]="entry.uploadedImageBase64 && !entry.uploadedImageFile"
            placeholder="{{ 'profile.licenseTitle' | translate }}" 
            name="title-{{entry.category.id}}" 
            [ngClass]="{ 'is-invalid': isLicenseIncomplete(entry) }" />
          @if (parentForm.get('title')?.touched && parentForm.get('title ')?.errors) {
          <div class="text-danger">{{ 'profile.titleRequired' | translate }}</div>
          }
        </div>
        <div *ngIf="!entry.uploadedImageBase64">
        <input type="file" (change)="onFileSelected($event, entry.category.id)" accept="image/*, .pdf"
          class="form-control" [ngClass]="{ 'is-invalid': isLicenseIncomplete(entry) }">
        </div>
        <div *ngIf="entry.uploadedImageBase64 || entry.uploadedImageFile" class="uploaded-file-preview mt-2">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="mb-0">{{'profile.uploadFile' | translate}}:</p>
            <!-- Solo mostrar botón de eliminar si el archivo no viene de la base de datos (es nuevo) -->
            <button type="button" class="btn btn-danger btn-sm" 
                    *ngIf="entry.uploadedImageFile" 
                    (click)="removeUploadedFile(entry.category.id)" 
                    title="{{ 'profile.removeFile' | translate }}">
              <i class="bi bi-trash"></i>
            </button>
          </div>
          <div *ngIf="entry.uploadedImageBase64" class="text-center">
            <img [src]="entry.uploadedImageBase64" alt="Imagen cargada" class="img-fluid" style="max-height: 150px;">
        
            <div *ngIf="entry.mimetype ==='pdf'">
              <iframe [src]="entry.uploadedImageBase64" width="100%" height="200px">
              </iframe>
            </div>

          </div>

          <div *ngIf="entry.uploadedImageFile && entry.uploadedImageFile.type === 'application/pdf'">
            <i class="bi bi-file-earmark-pdf fs-3"></i> {{'profile.pdfDocument' | translate}}: <strong>{{
              entry.uploadedImageFile.name
              }}</strong>
          </div>
          <div *ngIf="entry.uploadedImageFile && entry.uploadedImageFile.type !== 'application/pdf'">
            <i class="bi bi-file-earmark fs-3"></i> {{'profile.file' | translate}}: <strong>{{
              entry.uploadedImageFile.name }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>