<app-header />
<app-modal #modal [title]="title">
    <div [innerHTML]="bodyModal"></div>
</app-modal>
<div class="row" style="margin-top: 5rem;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-12 p-4">
        <div class="container mt-5 container-box p-5">
            <div>
                <div style="text-align: center;">
                    <h2 class="bg-primary text-white p-2" style="margin-bottom: 20px; font-weight: bold;">
                        {{lead.category.name}}</h2>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-calendar"></i> {{ lead.createdAt | date: 'dd/MM/yyyy' }}</span>
                </div>
                @if (lead.leadRequests.length > 0) {
                    <span>
                        <i class="bi bi-arrow-clockwise"></i> {{ lead.leadRequests[0].leadStatus!.name }}
                    </span>
                } @else {
                    <span>
                        <i class="bi bi-arrow-clockwise"></i> 
                    </span>
                }
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-geo-alt-fill"></i> {{lead.zipcode.name}} </span>
                </div>
                <!--div style="margin-bottom: 10px;">
                    <span><i class="bi bi-telephone"></i> {{lead.phone}}</span>
                </!--div-->
                <div style="margin-bottom: 20px;" class="description">
                    <span><i class="bi bi-card-text"></i> {{lead.description}}</span>
                </div>
                <div class="row">
                    @for ( image of [lead.imageUrl1, lead.imageUrl2, lead.imageUrl3, lead!.imageUrl4, lead.imageUrl5,
                    lead.imageUrl6]; track image) {
                    @if(image){
                    <div class="col-6 col-md-4 mb-3">
                        <img [src]=" image" class="img-fluid w-100 rounded shadow-sm cursor"
                            (click)="showImage(image)" style="aspect-ratio: 16/9; object-fit: cover;">
                    </div>
                    }
                }
                </div>

                @if(isPro){
                    <div class="d-flex justify-content-end mt-3">
                        @if (!isNotAcceptOrder) {
                            @if (lead.leadRequests.length > 0 && lead.leadRequests![0].leadStatus!.name === 'Pending') {
                                <button type="button" class="btn btn-outline-secondary mx-3" (click)="onRejectLead()">
                                    {{ 'general.reject' | translate }}
                                </button>
                                <button type="button" class="btn btn-primary" (click)="onAcceptLead()">
                                    {{ 'general.accept' | translate }}
                                </button>
                            }
                        }
                    </div>
                    
                @if(isLoading){
                <div class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                }
                @if(backendMessage){
                <div class="alert {{alertMessage}} mt-3">
                    {{ backendMessage }}
                </div>
                }

                }
            </div>


        </div>

    </div>
    <div class="col-lg-3"></div>
</div>