<app-modal #modal [title]="title" [rejectButtonText]="'general.cancel'| translate"
  [acceptButtonText]="'general.accept'| translate" (confirmAction)="acceptLogOut()">
  <div [innerHTML]="bodyModal"></div>
</app-modal>
<header class="fixed-top">

  <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow rounded-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" width="60" height="60" class="d-inline-block align-topm" alt="Fixi"
          style="object-fit: cover;">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex w-100 mt-2 mt-lg-0 p-2 justify-content-center" role="search">
          <ng-multiselect-dropdown [placeholder]="'Search' | translate" class="form-control"
            [settings]="dropdownSettings" [data]="listCategories" formControlName="categories"
            (onSelect)="onItemSelect($event)" style="max-width: 500px; background: #fff; margin: 0 auto;">
          </ng-multiselect-dropdown>
        </form>
        <div class="d-flex align-items-center ms-auto">

          @if(isAuthenticated){
          @if(isPro){

          <!-- <button type="button" (click)="toggleOnlineStatus()" [class.btn-success]="isOnline"
              [class.btn-danger]="!isOnline"
              class="btn btn-sm rounded-circle d-flex align-items-center justify-content-center p-2 me-2"
              style="width: 25px; height: 25px;">
            </button> -->
          }

          <!-- Menú desplegable usando la imagen del avatar -->
          <div class="dropdown">

            <img [src]="!imagePersonal ?  '../../../assets/avatar_profile.png' : imagePersonal" alt="User Avatar"
              width="40" height="40" class="rounded-circle me-2 cursor-pointer border border-2 border-white shadow-sm"
              data-bs-toggle="dropdown" aria-expanded="false">
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item"><i class="bi bi-person-circle"></i> {{ nameUser }}</a></li>
              <li><a class="dropdown-item" class=""><i class="bi bi-envelope"></i> {{ emailUser }}</a></li>
              <li><a class="dropdown-item" class="" routerLink="/pro/basic"><i class="bi bi-person"></i>
                  {{'header.profile'|translate}}</a></li>
              <li><a class="dropdown-item" class="" routerLink="/pro/become-to-pro/"><i class="bi bi-briefcase"></i>
                  {{textPro}}</a></li>

              @if(!isPro){
              <li><a class="dropdown-item" class="" routerLink="/client/leads"><i class="bi bi-list-ul"></i>
                  {{'header.leads'|translate}}</a></li>
              <li><a class="dropdown-item" class="" routerLink="/client/orders/"><i class="bi bi-card-checklist"></i>
                  {{'header.orders'|translate}}</a></li>
              }
              @else {
              <li><a class="dropdown-item" class="" routerLink="/pro/leads/"><i class="bi bi-list-ul"></i>
                  {{'header.leads'|translate}}</a></li>
              <li><a class="dropdown-item" class="" routerLink="/pro/orders/"><i class="bi bi-card-checklist"></i>
                  {{'header.orders'|translate}}</a></li>
              <li><a class="dropdown-item" class="" routerLink="/pro/payments/"><i class="bi bi-clipboard2-check"></i>
                  {{'header.payments'|translate}}</a></li>
              }
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="cursor-pointer" (click)="signOut($event)"><i class="bi bi-box-arrow-right"></i>
                  {{'header.logOut'|translate}}</a></li>
            </ul>
          </div>
          }

          @if(!isAuthenticated){
          <div class="d-flex">


            <button type="button" class="btn btn-outline-light me-2 d-flex align-items-center" 
              routerLink="/auth/sign-up" [queryParams]="{ isCustomer: false }">
              <i class="bi bi-person-plus me-1"></i>Sign&nbsp;up
            </button>
            <button type="button" class="btn btn-secondary d-flex align-items-center" routerLink="/auth/login"
              style="color:#fff">
              <i class="bi bi-box-arrow-in-right me-1"></i>{{'auth.login' | translate}}
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </nav>
</header>