<div class="container-fluid bg-white pt-1">
  <nav class="navbar navbar-expand-lg m-1">
    <div class="container-fluid div-header">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo2.png" width="100" height="50" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu">
          <!--li class="nav-item ml-3 d-none d-lg-block">
            <select class="form-select" #languaje (change)="switchLanguage(languaje.value)" id="floatingSelectGrid">
              <option value="es">Español</option>
              <option value="en">English</option>
            </select>
          </li-->
          <li class="nav-item d-none d-lg-block">
            <button type="button" class="btn btn-color-primary"  routerLink="/sign-in/register" [queryParams]="{ isCustomer: false }">Join as a pro</button></li>
            <button type="button" class="btn btn-color-primary d-none d-lg-block" routerLink="/sign-in">Sign in</button>
          <!--li class="nav-item d-none d-lg-block"><span><b>Sign in</b></span>
            <ul class="submenu">
              <li><a routerLink="/sign-in"><b>Sign in</b></a></li>
              <li><a routerLink="/sign-in/register"><b>Sign up</b></a></li>
            </ul>
          </!--li-->
        </ul>
        <!-- Mobile version -->
        <div class="d-lg-none w-100 mt-2">
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-color-primary w-48">Join as a pro</button>
            <button type="button" routerLink="/sign-in" class="btn btn-outline-success w-48">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
