<form [formGroup]="zipCodeForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="container text-center rounded bg-white p-5 shadow">
        <div class="mb-3">
           <h1>{{nameCategory}}</h1>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">ZIP Code</label>
            <input type="number" class="form-control" id="" placeholder="70005" min="1" formControlName="zipCode" />
        </div>
        <div class="mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-color-primary" type="submit" [disabled]="!zipCodeForm.valid">Next</button>
    
            </div>
        </div>
       
    </div>
</form>

