
<div class="row container-degradado p-3">
   <div class="col-lg-3"></div>
   <div class="col-lg-6 position-relative">
     
     <div class="text-center d-flex justify-content-center align-items-center vh-100">
       <div class="p-5 container-box bg-white">
         <h1 class="text-muted fw-bold">Account Verification</h1>
        <h3 class="text-muted fw-bold">{{messageAccount}}</h3>
        <p class="text-muted fw-bold">You can log in here.</p>
        <button class="btn btn-primary" routerLink="/auth/login">Login</button>
       </div>
     </div>
   </div>
   <div class="col-lg-3"></div>
 </div>
 