<app-header></app-header>

<div class="container-fluid" style="margin-top: 5rem;">
    <app-floating-alert [alertMessage]="alertMessage" [backendMessage]="backendMessage" />
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 p-lg-5">
            <div class="card container-box">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 1" (click)="goToStep(1)">Payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 2" (click)="goToStep(2)">Payment
                                history</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">

                    @if(currentStep === 1){
                    <div *ngIf="selectedCategoryIds.length == 0">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">{{'profile.categories' | translate}}</h4>
                            <p>{{'payment.noOutstandingCategories' | translate}}</p>
                            <hr>

                        </div>

                    </div>
                    <div class="payment-container" *ngIf="selectedCategoryIds.length > 0">
                        <table class="table table-bordered mb-4">
                            <thead>
                                <tr>
                                    <th>{{'profile.categories' | translate}}</th>
                                    <th>{{'profile.status' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cat of user.profile?.profileCategories">

                                    <td *ngIf="cat.status === 'PENDING_PAYMENT' || cat.status === 'PAYMENT_FAILED'">
                                        {{ cat.category?.name }}
                                    </td>
                                    <td *ngIf="cat.status === 'PENDING_PAYMENT' || cat.status === 'PAYMENT_FAILED'">
                                        {{ cat.status }}
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="user.profile?.status=='PENDING_APPROVAL'" class="alert alert-warning d-flex align-items-center mb-4" role="alert">
                            <div>
                                <h5 class="alert-heading mb-1">{{ 'profile.pendingApproval' | translate }}</h5>
                                <p class="mb-0">{{ 'profile.pendingApprovalMessage' | translate }}</p>
                            </div>
                            </div>
        
                        <div *ngIf="isLoading">
                            <h2>{{'payment.preparingPayment' | translate}}...</h2>
                            <p>{{'payment.redirectingToStripe' | translate}}</p>
                            <div class="spinner"></div>
                        </div>

                        <div *ngIf="!isLoading && errorMessage">
                            <h2>{{'payment.errorInitiatingPayment' | translate}}</h2>
                            <p>{{ errorMessage }}</p>
                            <button (click)="retryPayment()" class="btn btn-primary">{{'payment.retryPayment' |
                                translate}}</button>
                            <button (click)="goToCategorySelection()"
                                class="btn btn-secondary">{{'payment.goBackToCategorySelection' | translate}}</button>
                        </div>

                        <div *ngIf="!isLoading && !errorMessage && !paymentInitiated">
                            <h2>{{'payment.startYourPayment' | translate}}</h2>
                            <p>{{'payment.clickButtonToRedirect' | translate}}</p>
                            <button (click)="initiateStripeCheckout()" class="btn btn-primary" [disabled]="user.profile?.status=='PENDING_APPROVAL'">{{'payment.proceedToPayment' | translate}}</button>
                        </div>
                    </div>

                    }
                    @if(currentStep === 2){

                    <div class="fade-in">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{'profile.categories' | translate}}</th>
                                        <th>{{'payment.status' | translate}}</th>
                                        <th>{{'payment.payments' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let cat of user.profile?.profileCategories; let i = index">
                                        <tr>
                                            <td>{{ cat.category?.name }}</td>
                                            <td>{{ cat.status }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-primary" type="button"
                                                    data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + i"
                                                    aria-expanded="false" [attr.aria-controls]="'collapse-' + i">
                                                    {{'payment.showPayments' | translate}}
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="collapse" [attr.id]="'collapse-' + i">
                                            <td colspan="5">
                                                <div *ngIf="cat.subscriptionPayments!.length > 0; else noPayments">
                                                    <table class="table table-sm table-striped mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'profile.invoices' | translate}}</th>
                                                                <th>{{'profile.paidAt' | translate}}</th>
                                                                <th>{{'profile.startsAt' | translate}}</th>
                                                                <th>{{'profile.endsAt' | translate}}</th>
                                                                <th>{{'profile.amount' | translate}}</th>
                                                                <th>{{'profile.discount' | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let p of cat.subscriptionPayments">
                                                                <td><a [href]="p.urlInvoice" target="_blank">{{
                                                                        'profile.showInvoices' | translate }}</a></td>
                                                                <td>{{ p.paidAt | date: 'short' }}</td>
                                                                <td>{{ p.startsAt | date: 'shortDate' }}</td>
                                                                <td>{{ p.endsAt | date: 'shortDate' }}</td>
                                                                <td>{{ p.amount / 100 | currency: 'USD' }}</td>
                                                                <td>
                                                                    <ng-container *ngIf="p.discountPercent">
                                                                        {{ p.discountPercent }}% (-{{ p.discountAmount!
                                                                        /
                                                                        100 | currency: 'USD' }})
                                                                    </ng-container>
                                                                    <ng-container *ngIf="!p.discountPercent">
                                                                        —
                                                                    </ng-container>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <ng-template #noPayments>
                                                    <p class="text-muted mb-0">{{'payment.thereAreNoPayments' |
                                                        translate}}</p>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-end">
                                <pagination-controls (pageChange)="page = $event" previousLabel="Previous"
                                    nextLabel="Next">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>

                    }
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>