
<div class="container p-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 col-md-8 p-5 col-login  text-light-emphasis bg-white rounded">
            <form [formGroup]="signUp" (ngSubmit)="onSubmit()" autocomplete="off" method="post">
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="firstName" class="form-label fw-bold">{{'auth.firstName' | translate}}</label>
                        <input type="text" class="form-control" placeholder="" id="firstName"
                            formControlName="firstName" />
                        @if(signUp.get('firstName')?.invalid && (signUp.get('firstName')?.dirty || signUp.get('firstName')?.touched )){
                        <div class="alert alert-danger mt-2 mt-2">
                            @if(signUp.get('firstName')?.errors?.['required']){
                            <span>
                                {{'auth.isFirstNameRequired' | translate}}
                            </span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="lastName" class="form-label fw-bold">{{'auth.lastName' | translate}}</label>
                        <input type="text" class="form-control" placeholder="" id="lastName" 
                            formControlName="lastName" />
                        @if(signUp.get('lastName')?.invalid && (signUp.get('lastName')?.dirty || signUp.get('lastName')?.touched )){
                        <div class="alert alert-danger mt-2">
                            @if(signUp.get('lastName')?.errors?.['required']){
                            <span>
                                {{'auth.isLastNameRequired' | translate}}
                            </span>
                            }
                        </div>
                        }
                    </div>



                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label fw-bold">{{'auth.phone' | translate}}</label>
                    <input type="tel" class="form-control" id="phone" placeholder="(123) 4567890"  mask="(000) 000-0000"  formControlName="phone"
                       />
                    
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">{{'auth.email' | translate}}</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" 
                        formControlName="email" />
                    @if(signUp.get('email')?.invalid && (signUp.get('email')?.dirty || signUp.get('email')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUp.get('email')?.errors?.['required']){
                        <span>
                            {{'auth.isEmailRequired' | translate}}
                        </span>
                        }
                        @if(signUp.get('email')?.errors?.['email']){
                        <span>
                            {{'auth.isEmailValid' | translate}}
                        </span>
                        }
                    </div>
                    }

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">{{'auth.password' | translate}}</label>
                    <input type="password" class="form-control" id="password" placeholder="" type="password" minlength="6"
                        formControlName="password" />
                    @if(signUp.get('password')?.invalid && (signUp.get('password')?.dirty ||
                    signUp.get('password')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUp.get('password')?.errors?.['required']){
                        <span>
                            {{'auth.isPasswordRequired' | translate}}
                        </span>
                        }
                        @if(signUp.get('password')?.errors?.['pattern']){
                            <ul>
                                <li>{{'auth.minimum6Characters' | translate}}</li>
                                <li>{{'auth.maximum15Characters' | translate}}</li>
                                <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                                <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                            </ul>
                            }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label fw-bold">{{'auth.confirmPassword' | translate}}</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="" type="password" minlength="6"
                        formControlName="confirmPassword" />
                    @if(signUp.get('confirmPassword')?.invalid && (signUp.get('confirmPassword')?.dirty ||
                    signUp.get('confirmPassword')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUp.get('confirmPassword')?.errors?.['required']){
                        <span>
                            {{'auth.isPasswordRequired' | translate}}
                        </span>
                        
                        }
                        @if(signUp.get('password')?.errors?.['pattern']){
                            <ul>

                                <li>{{'auth.minimum6Characters' | translate}}</li>
                                <li>{{'auth.maximum15Characters' | translate}}</li>
                                <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                                <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                            </ul>
                            } 
                        @if(signUp.get('confirmPassword')?.errors?.['mismatch']){
                            <span>
                                {{'auth.thePasswordsDoNotMatch' | translate}}
                            </span>
                            }
                    </div>
                    }
                </div>

                <div class="mb-3">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isTerm" formControlName="isTerm">
                        <label class="form-check-label" for="isTerm">
                            <a href="http://" class="link-underline-opacity-0 link-secondary">I accept terms and conditions</a>
                        </label>
                      </div>
                </div>

                
                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit" [disabled]="!signUp.valid || isLoading">{{'auth.sign-in'
                        | translate}}</button>
                </div>
                @if(isCustomer){
                    <div class="mt-3 d-flex justify-content-center">
                        <a routerLink="/auth" aria-current="page" class="link-underline-opacity-0 link-secondary">{{'auth.login' |
                            translate}}</a>
                    </div>
                }
            </form>
            @if(isLoading){       
                <div class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status"> 
                    </div>
                </div>
            }
            @if(backendMessage){    
            <div  class="alert {{alertMessage}} mt-3">
                {{ backendMessage }}
              </div>
            }
            @if(loggedIn){
                <div class="mt-3 text-center">
                    <button  class="btn btn-primary"(click)="signOut()">Cerrar sesión</button>
                </div>
            }

        </div>
       
       
        <div class="col"></div>
    </div>
</div>