<div class="container-degradado p-5">
    <div class="row">
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-lg-3">
            <a routerLink="/">
                <img src="./../../../assets/logo.png" width="300" alt="Logo" class="d-none d-lg-block">
            </a>
        </div>
        <div class="col-12 col-lg-6 p-5   text-light-emphasis bg-white rounded container-box">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" autocomplete="off" method="post">
                <div class="row mb-3">
                    <div class="col-12 col-lg-6">
                        <label for="firstName" class="form-label fw-bold">{{'auth.firstName' | translate}}</label>
                        <input type="text" class="form-control" placeholder="" id="firstName"
                            formControlName="firstName" appCapitalizeFirst noWhitespace/>
                        @if(signUpForm.get('firstName')?.invalid && (signUpForm.get('firstName')?.dirty ||
                        signUpForm.get('firstName')?.touched )){
                        <div class="alert alert-danger mt-2 mt-2">
                            @if(signUpForm.get('firstName')?.errors?.['required']){
                            <span>
                                {{'auth.isFirstNameRequired' | translate}}
                            </span>
                            }
                            @else if(signUpForm.get('firstName')?.errors?.['noWhitespace']){
                            <span>
                                {{'general.isWhitespace' | translate}}
                            </span>
                            }
                        </div>
                        }
                    </div>
                    <div class="col-12 col-lg-6">
                        <label for="lastName" class="form-label fw-bold">{{'auth.lastName' | translate}}</label>
                        <input type="text" class="form-control" placeholder="" id="lastName"
                            formControlName="lastName" appCapitalizeFirst noWhitespace/>
                        @if(signUpForm.get('lastName')?.invalid && (signUpForm.get('lastName')?.dirty ||
                        signUpForm.get('lastName')?.touched )){
                        <div class="alert alert-danger mt-2">
                            @if(signUpForm.get('lastName')?.errors?.['required']){
                            <span>
                                {{'auth.isLastNameRequired' | translate}}
                            </span>
                            }
                            @else if(signUpForm.get('lastName')?.errors?.['noWhitespace']){
                            <span>
                                {{'general.isWhitespace' | translate}}
                            </span>
                            }
                        </div>
                        }
                    </div>



                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label fw-bold">{{'auth.phone' | translate}}</label>
                    <input type="tel" class="form-control" id="phone" placeholder="(123) 4567890" mask="(000) 000-0000"
                        formControlName="phone" />
                    @if(signUpForm.get('phone')?.invalid && (signUpForm.get('phone')?.dirty ||
                    signUpForm.get('phone')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUpForm.get('phone')?.errors?.['required']){
                        <span>
                            {{'auth.isPhoneRequired' | translate}}
                        </span>
                        }
                        @if(signUpForm.get('phone')?.errors?.['minlength']){
                        <span>
                            {{'auth.isPhoneMaximum10' | translate}}
                        </span>
                        }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">{{'auth.email' | translate}}</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" noWhitespace/>
                    @if(signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty ||
                    signUpForm.get('email')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUpForm.get('email')?.errors?.['required']){
                        <span>
                            {{'auth.isEmailRequired' | translate}}
                        </span>
                        }
                        @else if(signUpForm.get('email')?.errors?.['noWhitespace']){
                            <span>
                                {{'general.isWhitespace' | translate}}
                            </span>
                            }
                        @else if(signUpForm.get('email')?.errors?.['email']){
                        <span>
                            {{'auth.isEmailValid' | translate}}
                        </span>
                        }
                        
                    </div>
                    }

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">
                      {{ 'auth.password' | translate }}
                    </label>
                    <div class="input-group">
                      <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        class="form-control" 
                        id="password" 
                        placeholder="Password" 
                        formControlName="password" 
                      />
                      <button 
                        type="button" 
                        class="btn btn-outline-secondary" 
                        (click)="togglePasswordVisibility('password')" 
                        aria-label="Toggle password visibility"
                      >
                        <i [class]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                      </button>
                    </div>
                    
                    @if(signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty ||
                    signUpForm.get('password')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUpForm.get('password')?.errors?.['required']){
                        <span>
                            {{'auth.isPasswordRequired' | translate}}
                        </span>
                        }
                        @else if(signUpForm.get('password')?.errors?.['pattern']){
                        <ul>
                            <li>{{'auth.minimum6Characters' | translate}}</li>
                            <li>{{'auth.maximum15Characters' | translate}}</li>
                            <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                            <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                        </ul>
                        }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">
                        {{'auth.confirmPassword' |
                        translate}}
                    </label>
                    <div class="input-group">
                      <input 
                        [type]="showConfirmPassword ? 'text' : 'password'" 
                        class="form-control" 
                        id="confirmPassword" 
                        placeholder="Password" 
                        formControlName="confirmPassword" minlength="6"
                      />
                      <button 
                        type="button" 
                        class="btn btn-outline-secondary" 
                        (click)="togglePasswordVisibility('confirmPassword')" 
                        aria-label="Toggle password visibility"
                      >
                        <i [class]="showConfirmPassword ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                      </button>
                    </div>
                    
                    @if(signUpForm.get('confirmPassword')?.invalid && (signUpForm.get('confirmPassword')?.dirty ||
                    signUpForm.get('confirmPassword')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(signUpForm.get('confirmPassword')?.errors?.['required']){
                        <span>
                            {{'auth.isPasswordRequired' | translate}}
                        </span>

                        }
                        @if(signUpForm.get('password')?.errors?.['pattern']){
                        <ul>

                            <li>{{'auth.minimum6Characters' | translate}}</li>
                            <li>{{'auth.maximum15Characters' | translate}}</li>
                            <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                            <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                        </ul>
                        }
                        @else if(signUpForm.get('confirmPassword')?.errors?.['mismatch']){
                        <span>
                            {{'auth.thePasswordsDoNotMatch' | translate}}
                        </span>
                        }
                    </div>
                    }
                </div>             
                <div class="mb-3">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isTerm" formControlName="isTerm">
                        <label class="form-check-label" for="isTerm">
                            <a href="http://" class="link-underline-opacity-0 link-secondary">I accept terms and
                                conditions</a>
                        </label>
                        @if(signUpForm.get('isTerm')?.invalid && (signUpForm.get('isTerm')?.dirty ||
                        signUpForm.get('isTerm')?.touched )){
                        <div class="alert alert-danger mt-2">
                            @if(signUpForm.get('isTerm')?.errors?.['required']){
                            <span>
                                You must accept the terms and conditions
                            </span>
                            }
                           
                           
                            
                        </div>
                        }
                    </div>
                </div>


                <div class="d-grid mt-3">
                    <button class="btn btn-primary" type="submit">{{'auth.signUp'
                        | translate}}</button>
                    <div class="mt-3 d-flex justify-content-center">
                        <a routerLink="/auth/login" aria-current="page"
                            class="link-underline-opacity-0 link-secondary">{{'auth.login' | translate}}</a>
                    </div>
                </div>
                @if(isCustomer){
                <div class="mt-3 d-flex justify-content-center">
                    <a routerLink="/auth" aria-current="page"
                        class="link-underline-opacity-0 link-secondary">{{'auth.login' |
                        translate}}</a>
                </div>
                }
            </form>
            @if(isLoading){
            <div class="d-flex justify-content-center mt-3">
                <div class="spinner-border" role="status">
                </div>
            </div>
            }
            @if(backendMessage){
            <div class="alert {{alertMessage}} mt-3">
                {{ backendMessage }}
            </div>
            }
            @if(loggedIn){
            <div class="mt-3 text-center">
                <button class="btn btn-primary" (click)="signOut()">Cerrar sesión</button>
            </div>
            }

        </div>
        <div class="col-lg-1 d-none d-lg-block">
        </div>
    </div>
</div>