<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-img">
        </div>
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 1" (click)="goToStep(1)">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 2" (click)="goToStep(2)">Business</a>
                        </li>
                        <!--li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 3" (click)="goToStep(3)">Picture</a>
                        </!--li>
                        <li-- class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 4" (click)="goToStep(4)">Satisfaction survey</a>
                        </li-->
                    </ul>
                </div>
                <div class="card-body">
                    <form [formGroup]="proOneForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        @if(currentStep === 1){
                        <div  class="fade-in">
                            <div class="row mb-3">
                                <div class="col-12 col-md-6">
                                    <label for="firstName" class="form-label fw-bold">{{'signIn.firstName' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="" id="firstName"
                                        formControlName="firstName" />
                                    @if(proOneForm.get('firstName')?.invalid && (proOneForm.get('firstName')?.dirty || proOneForm.get('firstName')?.touched )){
                                    <div class="alert alert-danger mt-2 mt-2">
                                        @if(proOneForm.get('firstName')?.errors?.['required']){
                                        <span>
                                            {{'signIn.isFirstNameRequired' | translate}}
                                        </span>
                                        }
                                    </div>
                                    }
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="lastName" class="form-label fw-bold">{{'signIn.lastName' | translate}}</label>
                                    <input type="text" class="form-control" placeholder="" id="lastName" 
                                        formControlName="lastName" />
                                    @if(proOneForm.get('lastName')?.invalid && (proOneForm.get('lastName')?.dirty || proOneForm.get('lastName')?.touched )){
                                    <div class="alert alert-danger mt-2">
                                        @if(proOneForm.get('lastName')?.errors?.['required']){
                                        <span>
                                            {{'signIn.isLastNameRequired' | translate}}
                                        </span>
                                        }
                                    </div>
                                    }
                                </div>
            
            
            
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="phone" class="form-label fw-bold">{{'pro.profile.phone' | translate}}</label>
                                    <input type="tel" class="form-control" id="phone" formControlName="phone" mask="(000) 0000000"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="email" class="form-label fw-bold">{{'pro.profile.email' | translate}}</label>
                                    <input type="email" class="form-control" id="phone" formControlName="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="email" class="form-label fw-bold">{{'pro.profile.email' | translate}}</label>
                                    <input type="email" class="form-control" id="phone" formControlName="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="" class="form-label fw-bold">{{'pro.profile.email' | translate}}</label>
                                    <input type="email" class="form-control" id="phone" formControlName="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="address" class="form-label fw-bold">{{'pro.profile.address' | translate}}</label>
                                    <input type="text" class="form-control" id="adress" formControlName="address" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="zipCode" class="form-label fw-bold">{{'pro.profile.zipCode' | translate}}</label>
                                    <input type="text" class="form-control" id="zipCode" formControlName="zipCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="imageProfile" class="form-label fw-bold">{{'pro.profile.imgProfile' | translate}}</label>
                                    <input type="file" class="form-control" id="imageProfile"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="introduction" class="form-label fw-bold">Introduction</label>
                                    <textarea class="form-control" id="introduction" rows="3"></textarea>
                                  </div>
                            </div>
                            
                            
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-primary mt-3" (click)="nextStep()">Next</button>
                            </div>
                        </div>
                       }
                       @if(currentStep === 2){
                        <div  class="fade-in">
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="nameBusiness" class="form-label fw-bold">{{'pro.profile.nameBusiness' | translate}}</label>
                                    <input type="text" class="form-control" id="nameBusiness"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="yearFounded" class="form-label fw-bold">{{'pro.profile.yearFounded' | translate}}</label>
                                    <input type="text" class="form-control" id="yearFounded"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="numberEmployees" class="form-label fw-bold">{{'pro.profile.numberEmployees' | translate}}</label>
                                    <input type="text" class="form-control" id="numberEmployees" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label for="imageProfile" class="form-label fw-bold">{{'pro.profile.imgProfile' | translate}}</label>
                                    <input type="file" class="form-control" id="imageProfile"  />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-outline-primary mt-3" (click)="previousStep()">Previous</button>
                                <button type="button" class="btn btn-primary mt-3" (click)="nextStep()">Next</button>
                            </div>
                        </div>
                    }
                    @if(currentStep === 3){
                        <div  class="fade-in">
                           
                           
                            
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-outline-primary mt-3" (click)="previousStep()">Previous</button>
                                <button type="button" class="btn btn-primary mt-3" (click)="nextStep()">Next</button>
                            </div>
                        </div>
                    }
                    @if(currentStep === 4){
                        <div  class="fade-in">
                            <div class="form-group">
                                <label for="satisfaction">Satisfaction</label>
                                <input type="tel" id="phone" class="form-control" id="satisfaction" />
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button type="button" class="btn btn-outline-primary mt-3 mr-3" (click)="previousStep()">Previous</button>
                                <button type="submit" class="btn btn-success mt-3">Submit</button>
                            </div>
                        </div>
                    }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
