<app-header/>
<div class="container-degradado p-5">
    <div class="row">
        <div class="col-lg-1 d-none d-lg-block">
        </div>
        <div class="col-lg-3">
            <a routerLink="/">
                <img src="./../../../assets/logo.png" width="300" alt="Logo" class="d-none d-lg-block">
            </a>
        </div>
        <div class="col-12 col-lg-6 p-3 p-lg-5 text-light-emphasis bg-white rounded container-box">
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3" >
                    <div class="mb-3">
                        <label for="newPassword" class="form-label fw-bold">{{'auth.newPassword' | translate}}</label>
                        <div class="input-group">
                            <input 
                              [type]="showPassword ? 'text' : 'password'" 
                              class="form-control" 
                              id="password" 
                              placeholder="Password" 
                              formControlName="newPassword" 
                              maxlength="15"
                            />
                            <button 
                              type="button" 
                              class="btn btn-outline-secondary" 
                              (click)="togglePasswordVisibility('password')" 
                              aria-label="Toggle password visibility"
                            >
                              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                            </button>
                        </div>
                        @if(newPasswordForm.get('newPassword')?.invalid && (newPasswordForm.get('newPassword')?.dirty ||
                        newPasswordForm.get('newPassword')?.touched )){
                        <div>
                            @if(newPasswordForm.get('newPassword')?.errors?.['required']){
                            <small class="form-text text-danger">
                                {{'auth.isPasswordRequired' | translate}}
                            </small>
                            }
                            @else if(newPasswordForm.get('newPassword')?.errors?.['minlength']){
                            <small class="form-text text-danger">
                                {{'auth.minimum6Characters' | translate}}
                            </small>
                            }
                            @else if(newPasswordForm.get('newPassword')?.errors?.['maxlength']){
                            <small class="form-text text-danger">
                                {{'auth.maximum15Characters' | translate}}
                            </small>
                            }
                        </div>
                        }
                    </div>    
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary"  type="submit">{{'general.save' | translate}}</button>
                </div>         
            </form>
            @if(backendMessage) {
            <div class="alert {{alertMessage}} mt-3">
                {{ backendMessage }}
            </div>
            }
        </div>
        <div class="col-lg-1 d-none d-lg-block">

        </div>
    </div>
</div>
