<app-header/>
<div class="container p-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8 col-md-8 p-5 col-newPassword  text-light-emphasis bg-white rounded container-box">
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3" >
                    <div class="mb-3">
                        <label for="newPassword" class="form-label fw-bold">{{'auth.newPassword' | translate}}</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="" type="password"
                            formControlName="newPassword" />
                        @if(newPasswordForm.get('newPassword')?.invalid && (newPasswordForm.get('newPassword')?.dirty ||
                        newPasswordForm.get('newPassword')?.touched )){
                        <div class="alert alert-danger mt-2">
                            @if(newPasswordForm.get('newPassword')?.errors?.['required']){
                            <span>
                                {{'auth.isPasswordRequired' | translate}}
                            </span>
                            }
                            @if(newPasswordForm.get('newPassword')?.errors?.['pattern']){
                                <ul>
                                    <li>{{'auth.minimum6Characters' | translate}}</li>
                                    <li>{{'auth.maximum15Characters' | translate}}</li>
                                    <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                                    <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                                </ul>
                                }
                        </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label fw-bold">{{'auth.confirmNewPassword' | translate}}</label>
                        <input type="password" class="form-control" id="confirmNewPassword" placeholder="" type="password"
                            formControlName="confirmNewPassword" />
                        @if(newPasswordForm.get('confirmNewPassword')?.invalid && (newPasswordForm.get('confirmNewPassword')?.dirty ||
                        newPasswordForm.get('confirmNewPassword')?.touched )){
                        <div class="alert alert-danger mt-2">
                            @if(newPasswordForm.get('confirmNewPassword')?.errors?.['required']){
                            <span>
                                {{'auth.isPasswordRequired' | translate}}
                            </span>
                            
                            }
                            @if(newPasswordForm.get('newPassword')?.errors?.['pattern']){
                                <ul>
                                    <li>{{'auth.minimum6Characters' | translate}}</li>
                                    <li>{{'auth.maximum15Characters' | translate}}</li>
                                    <li>{{'auth.atLeastOneUppercaseLetter' | translate}}</li>
                                    <li>{{'auth.oneLowercaseLetterAndOneNumber' | translate}}</li>
                                </ul>
                                } 
                            @if(newPasswordForm.get('confirmNewPassword')?.errors?.['mismatch']){
                                <span>
                                    {{'auth.thePasswordsDoNotMatch' | translate}}
                                </span>
                                }
                        </div>
                        }
                    </div>
                
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary"  type="submit" [disabled]="!newPasswordForm.valid || isLoading">{{'general.save' | translate}}</button>
                </div>
                
            </form>
            @if(isLoading){       
                <div class="d-flex justify-content-center mt-3">
                    <div class="spinner-border" role="status"> 
                    </div>
                </div>
            }
            @if(backendMessage){    
            <div  class="alert {{alertMessage}} mt-3">
                {{ backendMessage }}
              </div>
            }
        </div>
        
       
    </div>
</div>


