<app-header/>
<app-modal #modal [title]="title">
    <div [innerHTML]="image"></div>
</app-modal>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 col-12 p-5 container-box">
            <h1 class="text-center">Leads</h1>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 1" (click)="goToStep(1)">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="currentStep === 2" (click)="goToStep(2)">Leads</a>
                        </li>


                    </ul>
                </div>
                <div class="card-body">

                    @if(currentStep === 1){
                        <div class="fade-in">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Surplus</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Activation date </th>
                                    <th scope="col">Expiration date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of listLeadByUser; track item; let i = $index) {
                                <tr>
                                   <td></td>


                                </tr>
                                }
                            </tbody>
                        </table> 
                    </div>         
                    }
                    @if(currentStep === 2){

                    <div class="fade-in">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Zipcode</th>
                                    <th scope="col">Description </th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of listLeadByUser; track item; let i = $index) {
                                <tr>
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ item.order.category.name}}</td>
                                    <td>{{ item.order.zipcode.name}}</td>
                                    <td>{{ item.order.description | slice:0:10}}... </td>
                                    <td>
                                        @if(item.order.images){
                                        <img [src]="urlUploads+item.order.images" class="cursor" width="80" height="60" alt="Image"
                                            (click)="showImage(urlUploads+item.order.images)" />
                                        }
                                    </td>
                                     
                                    <td><span><i class="bi bi-search cursor" (click)="leadDetail(item.id!)"></i></span></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                    }
                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>