<div height="1000px">

<google-map height="800px" width="1000px" [options]="options" > 
    @for (location of nzLocations; track location) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          [position]="{ lat: location.lat, lng: location.lng }"
        />
        }
        <map-circle [center]="circleCenterB" [radius]="radiusB" [options]="{ fillColor: 'red', fillOpacity: 0.2, strokeWeight: 0 }" />
        <map-circle [center]="circleCenterC" [radius]="radiusC" [options]="{ fillColor: 'blue', fillOpacity: 0.2, strokeWeight: 0 }" />

</google-map>
<div class="d-flex justify-content-center mt-3">
  <button type="button" (click)="calculateRadiusMinus()"><span><i class="bi bi-dash-circle-fill"></i></span></button>
  <span> {{ radiusCMiles| number:'1.2-2' }} Miles</span>
  <button type="button" (click)="calculateRadiusAdd()"><span><i class="bi bi-plus-square-fill"></i></span></button>
</div>
<div>
    <p>{{resultb}}</p>
    <p>{{resultc}}</p>
</div>
<!--google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
    <map-circle [center]="circleCenter" [radius]="radius"></map-circle>
  </!--google-map-->

</div>