<app-header />
<div class="container-fluid ml-3 mr-3">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 p-5">
            @if(!isValidZipCode){
                <app-zip-code (isZipCodeOut)="onValueZip($event)"/>
            }
            @if(isValidZipCode && !isValidPhoneCustomer){
                <app-phone (isPhoneOut)="onValuePhoneCustomer($event)"/>
            }
            @if(isValidPhoneCustomer && isValidPhoneCustomer){
                <app-description-customer   (isDescriptionOut)="onValueDescription($event)"/>
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>