<app-header />
<div class="container p-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-6 p-3 col-login  text-light-emphasis">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label fw-bold">{{'sign-in.current-password' | translate}}</label>
                    <input type="password" class="form-control" id="currentPassword" placeholder="" type="password"
                        formControlName="currentPassword" />
                    @if(passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty ||
                    passwordForm.get('currentPassword')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(passwordForm.get('currentPassword')?.errors?.['required']){
                        <span>
                            {{'sign-in.isPasswordRequired' | translate}}
                        </span>
                        }

                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label fw-bold">{{'sign-in.new-password' | translate}}</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="" type="password"
                        formControlName="newPassword" />
                    @if(passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty ||
                    passwordForm.get('newPassword')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(passwordForm.get('newPassword')?.errors?.['required']){
                        <span>
                            {{'sign-in.isPasswordRequired' | translate}}
                        </span>
                        }
                        @if(passwordForm.get('newPassword')?.errors?.['pattern']){
                            <ul>
                                <li>{{'sign-in.minimum-8-characters' | translate}}</li>
                                <li>{{'sign-in.maximum-15-characters' | translate}}</li>
                                <li>{{'sign-in.at-least-one-uppercase-letter' | translate}}</li>
                                <li>{{'sign-in.one-lowercase-letter-and-one-number' | translate}}</li>
                            </ul>
                            }
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label fw-bold">{{'sign-in.confirm-new-password' | translate}}</label>
                    <input type="password" class="form-control" id="confirmNewPassword" placeholder="" type="password"
                        formControlName="confirmNewPassword" />
                    @if(passwordForm.get('confirmNewPassword')?.invalid && (passwordForm.get('confirmNewPassword')?.dirty ||
                    passwordForm.get('confirmNewPassword')?.touched )){
                    <div class="alert alert-danger mt-2">
                        @if(passwordForm.get('confirmNewPassword')?.errors?.['required']){
                        <span>
                            {{'sign-in.isPasswordRequired' | translate}}
                        </span>
                        
                        }
                        @if(passwordForm.get('newPassword')?.errors?.['pattern']){
                            <ul>

                                <li>{{'sign-in.minimum-8-characters' | translate}}</li>
                                <li>{{'sign-in.maximum-15-characters' | translate}}</li>
                                <li>{{'sign-in.at-least-one-uppercase-letter' | translate}}</li>
                                <li>{{'sign-in.one-lowercase-letter-and-one-number' | translate}}</li>
                            </ul>
                            } 
                        @if(passwordForm.get('confirmNewPassword')?.errors?.['mismatch']){
                            <span>
                                {{'sign-in.the-passwords-do-not-match' | translate}}
                            </span>
                            }
                    </div>
                    }
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="button" routerLink="/customer/profile">{{'config.cancel'
                        | translate}}</button>
                        <div class="mx-2"></div>
                    <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.valid">{{'config.save'
                        | translate}}</button>
                </div>
            </form>
        </div>

        <div class="col"></div>
    </div>
</div>
