<app-header></app-header>

<!-- Modal -->
<app-modal #modal [title]="'Select the option of your preference'" [rejectButtonText]="'general.cancel' | translate"
  [acceptButtonText]="'general.accept' | translate" (confirmAction)="onAccept()">
  <div style="text-align:center">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="isPersonalModal" value="isPersonal" [(ngModel)]="isSelectOption"
        (change)="onRadioChange($event)">
      <label class="form-check-label" for="isPersonalModal">{{ 'profile.personal' | translate }}</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="isBusinessModal" value="isBusiness" [(ngModel)]="isSelectOption"
        (change)="onRadioChange($event)">
      <label class="form-check-label" for="isBusinessModal">{{ 'profile.business' | translate }}</label>
    </div>
  </div>
</app-modal>
<!-- End Modal -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6 p-4 col-12">

      <!-- Show  showOptsPro -->
      <div class="mt-3 text-center" *ngIf="showOptsPro">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="isPersonalFooter"
            value="isPersonal" [(ngModel)]="isSelectOption" (change)="onRadioChange($event)" [disabled]="isDisabled">
          <label class="form-check-label" for="isPersonalFooter">{{ 'profile.personal' | translate }}</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="isBusinessFooter"
            value="isBusiness" [(ngModel)]="isSelectOption" (change)="onRadioChange($event)">
          <label class="form-check-label" for="isBusinessFooter">{{ 'profile.business' | translate }}</label>
        </div>
      </div>


      <div class="card container-box mt-3">
        <h5 class="card-header bg-primary text-light" *ngIf="!isNext">
          {{ 'profile.formPersonal' | translate }}
        </h5>
        <h5 class="card-header bg-primary text-light" *ngIf="isNext">
          {{ 'profile.formBusiness' | translate }}
        </h5>
        <div class="payment-container" *ngIf="paymentInitiated">
          <div *ngIf="isLoading">
            <h2>{{ 'payment.preparingPayment' | translate }}</h2>
            <p>{{ 'payment.redirectingToStripe' | translate }}</p>
            <div class="spinner"></div>
          </div>

          <div *ngIf="!isLoading && errorMessagePayment">
            <h2>{{ 'payment.errorInitiatingPayment' | translate }}</h2>
            <p>{{ errorMessagePayment }}</p>
            <button (click)="retryPayment()" class="btn btn-primary">{{ 'general.retryPayment' | translate }}</button>
            <button (click)="goToCategorySelection()" class="btn btn-secondary">{{ 'general.backToCategorySelection' |
              translate }}</button>
          </div>

        </div>
      </div>
      <div class="card-body bg-white container-box">
        <app-floating-alert [alertMessage]="alertMessage" [backendMessage]="backendMessage" />
        <p class="d-flex justify-content-end"><strong>Status:</strong> {{user.profile?.status || ''}}</p>
        <!-- Personal form -->
        <div *ngIf="!isNext">
          <app-pro-personal-form [parentForm]="proPersonalForm" [listCategories]="listCategories"
            [listZipcode]="listZipcode" (licensesChanged)="onLicensesChangedFromChild($event)"
            (fileSelected)="onFileSelectedPersonal($event)" [previewImgPersonal]="previewImgPersonal"
            [imagePersonal]="imagePersonal" [initialLicenses]="initialLicenses">
          </app-pro-personal-form>

          <div class="d-flex justify-content-end mt-3">
            <button *ngIf="isSelectOption === 'isPersonal'" type="button" class="btn btn-primary btn-lg btn-block"
              (click)="onSubmit()">
              

             
              <small *ngIf="!isLoading" class="sr-only">{{ 'general.activateCategoryAndPay' | translate }}</small>
              <small *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </small>
              <small *ngIf="isLoading" class="sr-only">{{ 'general.activateCategoryAndPay' | translate }}</small>
              
            </button>

            <button *ngIf="isSelectOption !== 'isPersonal'" type="button" class="btn btn-primary btn-lg btn-block"
              (click)="nextStep()">
              {{ 'general.next' | translate }}
            </button>
          </div>
        </div>

        <!-- Business form -->
        <div *ngIf="isNext">
          <app-pro-business-form [parentForm]="proBusinessForm" [previewImgBusiness]="previewImgBusiness"
            [imageBusiness]="imageBusiness" (fileSelected)="onFileSelectedBusiness($event)">
          </app-pro-business-form>

          <div class="d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block mt-3" (click)="previousStep()">
              {{ 'general.previous' | translate }}
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3" (click)="onSubmit()">
              {{ 'general.activateCategoryAndPay' | translate }}
            </button>
          </div>
          <div class="payment-container" *ngIf="paymentInitiated">
            <div *ngIf="isLoading">
              <h2>{{ 'payment.preparingPayment' | translate }}</h2>
              <p>{{ 'payment.redirectingToStripe' | translate }}</p>
              <div class="spinner"></div>
            </div>

            <div *ngIf="!isLoading && errorMessagePayment">
              <h2>{{ 'payment.errorInitiatingPayment' | translate }}</h2>
              <p>{{ errorMessagePayment }}</p>
              <button (click)="retryPayment()" class="btn btn-primary">{{ 'general.retryPayment' | translate }}</button>
              <button (click)="goToCategorySelection()" class="btn btn-secondary">{{ 'general.backToCategorySelection' |
                translate }}</button>
            </div>


          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-3"></div>
  </div>
</div>