<app-header />
<app-modal #modal [title]="title">
    <div [innerHTML]="messageLead"></div>
</app-modal>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 col-12 p-4">
        <div class="container mt-5 container-box p-5">
            <h1 class="text-center bg-primary text-white p-2">Leads</h1>
            <div class="p-3 d-flex justify-content-end">
                <button class="btn btn-primary" routerLink="/leads/multi"><i class="bi bi-plus-circle"></i> Lead</button>
            </div>
            @if(leadList.length===0){
            <div>
                <h2 class="text-center">Dear user, you have no leads issued.</h2>
            </div>
            
            }
            @else{
          
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Zipcode</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of leadList; track item; let i = $index) {
                        <tr class="center-content">
                            <td>{{i+1}}</td>
                            <td>{{ item.createdAt | date: 'yyyy/MM/dd' }}</td>
                            <td>{{item.category.name}}</td>
                            <td>{{item.zipcode.name}}</td>
                            <td>{{ item.description | slice:0:10}}... </td>
                            <td>
                                @if(item.imageUrl1){
                                <img [src]="urlUploads+item.imageUrl1" class="cursor" width="80" height="60" alt="Image"
                                    (click)="showImage(urlUploads+item.imageUrl1)" />
                                }
                            </td>
                            <td><span><i class="bi bi-search cursor" (click)="leadDetail(item.id!)"></i></span></td>
                        </tr>

                        }




                </table>
            </div>
            }
        </div>
    </div>
    <div class="col-lg-3">

    </div>
</div>