<form (ngSubmit)="onSubmit()" autocomplete="off">
    <div>
        <input type="tel" [(ngModel)]="phoneNumber"  [ngModelOptions]="{standalone: true}" name="phone" placeholder="Número de Teléfono">
        <button (click)="sendVerificationCode()">Enviar Código</button>


        <div id="recaptcha-container"></div> 
        <input type="text" [(ngModel)]="verificationCode" name="verificationCode" placeholder="Código de Verificación">
        <button (click)="verifyCode()">Verificar Código</button>
    </div>
</form>


