<app-header />
<app-modal #modal [title]="title">
    <div [innerHTML]="image"></div>
</app-modal>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 col-12 p-4">

        <div class="container mt-5 container-box p-5">
            <div>

                <div style="text-align: center;">
                    <h2 class="bg-primary text-white p-2" style="margin-bottom: 20px; font-weight: bold;">
                        {{lead.order.category.name}}  </h2>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-calendar"></i> {{ lead.createdAt | date: 'yyyy/MM/dd' }}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-calendar"></i> {{ lead.order.createdAt | date: 'yyyy/MM/dd' }}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-geo-alt-fill"></i> {{lead.order.zipcode.name}}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-telephone"></i>  {{lead.order.phone}}</span>
                </div>
                <div style="margin-bottom: 20px;" class="description">
                    <span><i class="bi bi-card-text"></i> {{lead.order.description}}</span>
                </div>
                <div>
                    @if(lead.order.images){
                    <span><i class="bi bi-card-image"></i></span>
                    <img [src]="urlUploads+lead.order.images"
                        style="width: 200px; height: 120px; object-fit: cover; display: block; margin: 0 auto;" class="cursor" (click)="showImage(urlUploads+lead.order.images)" />
                    }
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-lg-3">
        <div class="text-center">
        </div>
    </div>
</div>