<div class="mb-3">
    <label for="licences-name" class="form-label">Licences name</label>
    <input type="email" class="form-control" id="licences-name" placeholder="">
  </div>
  <div class="mb-3">
        <label for="form-file" class="form-label">Certificate</label>
        <input class="form-control" type="file" id="form-file">    
  </div>
  <div>
    <div class="d-flex justify-content-end">
        
        <button class="btn btn-primary"  type="submit" (click)="closeLicenses(false)">{{'config.save'| translate}}</button>
    </div>
  </div>
