
<div class="mb-3">
    <label for="" class="form-label fw-bold">State</label>
    <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        
  </div>
  <div class="mb-3">
    <label for="" class="form-label fw-bold">License type</label>
    <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label fw-bold">License number</label>
    <input class="form-control" id="name" placeholder="" type="text"
        formControlName="phone" />
</div>
  <div class="mb-3">
        <label for="form-file" class="form-label fw-bold">Certificate</label>
        <input class="form-control" type="file" id="form-file">    
  </div>
  <div>
    <div class="d-flex justify-content-end">
        
        <button class="btn btn-primary"  type="submit" (click)="closeLicenses(false)">{{'config.save'| translate}}</button>
    </div>
  </div>
