<app-header />
<app-modal #modal [title]="title">
    <div [innerHTML]="image"></div>
</app-modal>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 col-12 p-4">

        <div class="container mt-5 container-box p-5">
            <div>

                <div style="text-align: center;">
                    <h2 class="bg-primary text-white p-2" style="margin-bottom: 20px; font-weight: bold;">
                        {{order.category.name}}</h2>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-calendar"></i> {{ order.createdAt | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-geo-alt-fill"></i> {{order.zipcode.name}} </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <span><i class="bi bi-telephone"></i> {{order.phone}}</span>
                </div>
                <div style="margin-bottom: 20px;" class="description">
                    <span><i class="bi bi-card-text"></i> {{order.description}}</span>
                </div>
                <div>
                    @if(order.images){
                    <span><i class="bi bi-card-image"></i></span>
                    <img [src]="urlUploads+order.images"
                        style="width: 200px; height: 120px; object-fit: cover; display: block; margin: 0 auto;" class="cursor" (click)="showImage(urlUploads+order.images)" />
                    }
                </div>
            </div>
            @if(leadByOrderList && leadByOrderList.length > 0){
            <div class="mt-5 mb-3">
                <h2>Professionals</h2>
            </div>
            <div>
                @for (item of leadByOrderList; track item; let i = $index) {
                @if(item.user.profile?.isBusiness){
                <div>
                    <img [src]="urlUploads+ item.user.profile?.imageBusiness" class="rounded-circle cursor"
                        style="width: 80px; height: 80px; object-fit: cover; margin: 0 auto;"  (click)="showImage(urlUploads+ item.user.profile?.imageBusiness)"/><span class="ml-3"
                        style="font-size:25px;">{{item.user.profile?.nameBusiness}}</span>
                </div>

                <div>
                    <p>{{item.user.profile?.introduction || ''}}</p>
                </div>
                }
                @else{

                <div>
                    <img [src]="urlUploads+ item.user.profile?.imagePersonal" class="rounded-circle cursor" 
                        style="width: 80px; height: 80px; object-fit: cover; margin: 0 auto;"  (click)="showImage(urlUploads+ item.user.profile?.imagePersonal)"/><span class="ml-3"
                        style="font-size:25px;">{{item.user.firstname}} {{item.user.lastname}}</span>
                </div>

                <div>
                    <p>{{item.user.profile?.introduction}}</p>
                </div>

                }

                }
            </div>
            }
            @else {
            <div>
                <h2>Dear customer, you still do not have professionals assigned to your order.</h2>
            </div>
            }
        </div>
    </div>
    <div class="col-lg-3">
        <div class="text-center">
        </div>
    </div>
</div>