<form [formGroup]="descriptionForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="container text-center rounded bg-white p-5 shadow">
        <div class="mb-3">
           <h1>Description in detail of your project</h1>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <textarea class="form-control" id="" rows="3" formControlName="description" minlength="20"></textarea>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Image</label>
            <input type="file" class="form-control">
        </div>
        <div class="mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-color-primary" type="submit" [disabled]="!descriptionForm.valid">Next</button>
    
            </div>
        </div>
       
    </div>
</form>



