<app-header/>
<div class="container p-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-6 p-5 col-login  text-light-emphasis bg-white rounded">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="mb-3" >
                    <label for="email" class="form-label fw-bold">{{'sign-in.email' | translate}}</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"  type="email"  formControlName="email"/>
                    @if(loginForm.get('email')?.invalid &&  (loginForm.get('email')?.dirty || loginForm.get('email')?.touched )){
                    <div class="alert alert-danger mt-2">
                    @if(loginForm.get('email')?.errors?.['required']){
                        <span>
                        {{'sign-in.isEmailRequired' | translate}}
                        </span>
                    }
                    @if(loginForm.get('email')?.errors?.['email']){
                        <span>
                        {{'sign-in.isEmailValid' | translate}}
                        </span>
                    }
                </div>
                }
                
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">{{'sign-in.password' | translate}}</label>
                    <input type="password" class="form-control" id="password" placeholder=""  type="password" formControlName="password"/>
                @if(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched )){
                        <div class="alert alert-danger mt-2">
                        @if(loginForm.get('password')?.errors?.['required']){
                            <span>
                                {{'sign-in.isPasswordRequired' | translate}}
                            </span>
                        }
   
                    </div>
                    }
                </div> 
                <div class="mb-3 d-flex justify-content-end">
                    <a  routerLink="/sign-in/password-recovery" class="no-underline a-color-primary">{{'sign-in.forgotpassword' | translate}}</a>
                </div>
                <div class="d-grid">
                    <button class="btn btn-color-primary"  type="submit" [disabled]="!loginForm.valid">{{'sign-in.log-in' | translate}}</button>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <a routerLink="/sign-in/register" aria-current="page" class="no-underline a-color-primary">{{'sign-in.register' | translate}}</a>
                </div>
            </form>
        </div>
        
        <div class="col"></div>
    </div>
</div>

