<form [formGroup]="containerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="container-box  p-5" style="width: 500px;">
        <div class="">
            <div>
                <label [for]="idElement" class="mt-2 mb-2 fs-2">{{label}}</label>
                <input type="text" class="p-2" [id]="idElement" [(ngModel)]="inputValue" formControlName="inputValue"/>
            </div>
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()"  [disabled]="!containerForm.valid"     [routerLink]="routerLink">{{'general.next'|translate}}</button> 
            </div>
        </div>
    </div>
</form>