
//$purple:  #7e01e0 !default; 
$purple:  #7e01e0 !default;  
$teal:  #3cd7ac  !default;  
$primary :$purple;
$secondary:$teal;
// Importa Bootstrap después de sobrescribir los colores
@import "bootstrap/scss/bootstrap";
:root {
    --primary: #7e01e0;
    --secondary: #3cd7ac;
}
.container-degradado {
    background: 
        linear-gradient(to right,var(--primary),var(--secondary)); 
    min-height: 100vh; 
}
.container-box{
    border-radius: 8px;
    box-shadow: 0 10px 16px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden;
    //text-align: center;
    
}
//ajuste de ancho para el ng-multiselect en el item seleccionado.
.selected-item[_ngcontent-ng-c692748064]{
    max-width: 300px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
