
.img-carousel {
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  filter: brightness(95%);
  transition: filter 0.3s ease-in-out;
}
.carousel-item.active .img-carousel {
  filter: brightness(100%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.container-center-img {
  background-color: #ffffff; /* Blanco limpio */
  border-radius: 12px;       /* Esquinas suaves */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra elegante */
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.container-center-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.container-center-img img {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
