<app-header/>
<div class="container-fluid ml-3 mr-3">
    <div class="row">

        <div class="col-md-1">
           
        </div>
        
        <div class="col-md-10 p-5">
           <div class="container text-center">
                <h1><b>Find the best professionals who will satisfy all your needs</b></h1>
           </div>
           <div class="row pt-5">
            <div class="col-md-2 text-center bg-white p-4 rounded shadow m-2"><a href="http://"><img src="assets/electrical.jpg" alt="" width="120" height="180"></a></div>
            <div class="col-md-2 text-center bg-white p-4 rounded shadow m-2"><a href="http://"><img src="assets/plumbing.jpg" alt="" width="120" height="180"></a></div>
            <div class="col-md-2">3</div>
            <div class="col-md-2">4</div>
            <div class="col-md-2">5</div>
            <div class="col-md-2">6</div>
            
           </div>
        </div>
        <div class="col-md-1">
           
        </div>
    </div>

</div>

