<app-header/>
<div class="container-fluid ml-3 mr-3">
    <div class="row">

        <div class="col-md-1">
           
        </div>
        
        <div class="col-md-10 p-5">
           <div class="container text-center">
                <h1><b>Find the best professionals who will satisfy all your needs</b></h1>
           </div>
           <div class="row pt-5">
            @for (item of listServices; track item) {
                <div class="col-md-2 text-center bg-white p-4 rounded shadow m-2">
                    <a routerLink="/list"><img src="{{item.img}}" alt="" width="120" height="120">
                    <div class="text-center"><span><b>{{item.name}}</b></span></div>
                </a>
                </div>
                
              }
           
           
            
          
        </div>
        <div class="col-md-1">
           
        </div>
    </div>

</div>

