<form [formGroup]="phoneCustomerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="container text-center rounded bg-white p-5 shadow">
        <div class="mb-3">
           <h1>Customer estimate by favor indicates your telephone number</h1>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="" placeholder="(123) 4567890" min="1" formControlName="phoneCustomer" />
        </div>
        <div class="mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-color-primary" type="submit" [disabled]="!phoneCustomerForm.valid">Next</button>
    
            </div>
        </div>
        <div id="recaptcha-container"></div>
    </div>
    
</form>


